@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.triangle {
  width: 0;
  height: 0;
  border-left: 70px solid transparent; /* Change the value to adjust the size and direction */
  border-right: 70px solid transparent; /* Change the value to adjust the size and direction */
  border-bottom: 300px solid white; /* Change the color and size as desired */
  position: relative;
  bottom: 300px;
}
.triangle1 {
  width: 0;
  height: 0;
  border-left: 280px solid white; /* Change the value to adjust the size and direction */
  border-right: 70px solid transparent; /* Change the value to adjust the size and direction */
  border-top: 300px solid white; /* Change the color and size as desired */
  position: relative;
  bottom: 300px;
  z-index: 70;
  border-top-right-radius: 12px;
}
